[submodule "GameEngine/library/spdlog"]
	path = GameEngine/library/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/library/recastnavigation"]
	path = GameEngine/library/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
