#Directories
.vs/
bin/
bin-int/
GameEngine/library/filament/
GameEngine/library/SDL/
GameEngine/library/recastnavigation/
GameEngine/library/bgfx/
GameEngine/library/bx/
GameEngine/library/glfw/
GameEngine/library/bimg/
GameEngine/library/soloud/
GameEngine/library/jsoncpp/
GameEngine/library/imgui/


#Files
*.user
GameEngine/library/filament/LICENSE
GameEngine/library/filament/README.md
