#Directories
.vs/
bin/
bin-int/
GameEngine/library/filament/
GameEngine/library/recastnavigation/
GameEngine/library/sdl2/

#Files
*.user
GameEngine/library/filament/LICENSE
GameEngine/library/filament/README.md